# Python
**/__pycache__/
*.py[cod]
*.pyo
.env
.venv/
*.log

# Node.js
node_modules/
dist/
build/
.env.local

# Mac / Linux
.DS_Store
.idea/
*.swp

# Docker
*.pid
*.db
*.sock

# Miscellaneous
TODO.md
*.log.*

