.container {
  display: flex;
  flex-direction: column;
  font-family: 'Roboto', sans-serif;
  color: #333333;
  gap: 24px;
}

h2 {
  font-size: 24px;
}

.controlButtons {
  display: flex;
  gap: 15px;
}

.controlButtons button,
select {
  padding: 10px;
  font-size: 16px;
  cursor: pointer;
}

button {
  padding: 8px;
  border: 1px solid #333;
  color: #333333;
  border-radius: 4px;
  transition: background-color 0.3s;
  transition: color 0.3s;
  width: fit-content;
  font-size: 16px;
}

button:hover {
  background-color: #333333;
  color: white;
}

button:disabled {
  background-color: #e0e0e0;
  color: #b0b0b0;
  cursor: not-allowed;
  border: 2px solid #ccc;
  transform: none;
}


select {
  background-color: #f4f4f9;
  color: #333333;
  border: 1px solid #333;
  padding: 8px;
  border-radius: 4px;
  font-size: 16px;
  width: 150px;
  box-sizing: border-box;
}

select option {
  background-color: #f4f4f9;
  color: #333333;
  padding: 8px;
}

.fanModeSelect {
  display: flex;
  flex-direction: column;
  gap: 8px;
}


label {
  font-size: 24px;
  font-weight: 600;
}